<footer>
  <section class="">
    <div class="">
      <section class="">
        <div class="">
          <dl class="footer_first">
            <dt>
              Products
            </dt>
            <dd>
              <a href="#">
                SuperWebView
              </a>
            </dd>
            <dd>
              <a href="#">
                Deep Engine
              </a>
            </dd>
            <dd>
              <a href="#">
                Data Services
              </a>
            </dd>
            <dd>
              <a href="#">
                Ops Services
              </a>
            </dd>
            <dd>
              <a href="#">
                Outsource
              </a>
            </dd>
            <dd>
              <a href="#">
                Module Store
              </a>
            </dd>
          </dl>
          <dl class="footer_second">
            <dt>
              VIP Service
            </dt>
            <dd>
              <a href="#">
                VIP Service
              </a>
            </dd>
            <dd>
              <a href="#">
                Pricing
              </a>
            </dd>
            <dd>
              <a href="#">
                Multi-channel
              </a>
            </dd>
            <dd>
              <a href="#">
                Priority Service
              </a>
            </dd>
            <dd>
              <a href="#">
                OnlineCourse
              </a>
            </dd>
            <dd>
              <a href="#">
                Engineer Certification
              </a>
            </dd>
          </dl>
          <dl>
            <dt>
              Resources
            </dt>
            <dd>
              <a href="#" rel="nofollow">
                Docs
              </a>
            </dd>
            <dd>
              <a target="_blank" href="#">
                Tutorials
              </a>
            </dd>
            <dd>
              <a target="_blank" href="#" rel="nofollow">
                SDK Download
              </a>
            </dd>
            <dd>
              <a target="_blank" href="#">
                Dev Tools
              </a>
            </dd>
            <dd>
              <a target="_blank" href="#">
                Source Code Download
              </a>
            </dd>
          </dl>
          <dl>
            <dt>
              APICloud
            </dt>
            <dd>
              <a href="#" rel="nofollow">
                About Us
              </a>
            </dd>
            <dd>
              <a target="_blank" href="#" rel="nofollow">
                Terms of Service
              </a>
            </dd>
            <dd>
              <a target="_blank" href="#" rel="nofollow">
                Privacy Policy
              </a>
            </dd>
            <dd>
              <a href="#">
                Blog

              </a>
            </dd>
          </dl>
          <div class="footer-right">
            <div class="row share">
              <a href="javascript:void(0)" class="share-links weixinImg"></a>
              <a rel="nofollow" href="#" target="_blank" class="share-links weiboImg"></a>
              <a rel="nofollow" href="#" target="_blank" class="share-links facebook"></a>
              <a rel="nofollow" href="#" target="_blank" class="share-links twitter"></a>
            </div>
          </div>
        </div>
      </section>
      <section class="link-exchange-box">
        <div class="link-exchange">
          <h5 class="tab">Friendlink:</h5>
          <h5 class="tab">hot tags</h5>
        </div>
      </section>
      <section class="copyright">
        <label>
          ©2014-2016&nbsp;APICloud&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank"
                                                             href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action"
                                                             rel="nofollow">京ICP备14027692号</a>&nbsp;&nbsp;&nbsp;&nbsp;京ICP证151131号&nbsp;&nbsp;&nbsp;&nbsp;<a
          href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020063"
          target="_blank" rel="nofollow">京公网安备 11010802020063号</a>
        </label>
      </section>
    </div>
  </section>
</footer>
